<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>200989359492-pqrkbbv6u3rilk59dga3nibb08i30tvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200989359492-pqrkbbv6u3rilk59dga3nibb08i30tvl</string>
	<key>API_KEY</key>
	<string>AIzaSyCerRHtnJne9O-HTqBx1eq89GWoH0ys9vY</string>
	<key>GCM_SENDER_ID</key>
	<string>200989359492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>brandonhudavid.Engage</string>
	<key>PROJECT_ID</key>
	<string>engage-7fbc4</string>
	<key>STORAGE_BUCKET</key>
	<string>engage-7fbc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200989359492:ios:22b977a2b4721953</string>
	<key>DATABASE_URL</key>
	<string>https://engage-7fbc4.firebaseio.com</string>
</dict>
</plist>